body{background-color: gray;font-family: Sans-Serif;text-align: center;padding: 30px;}
.divisao{text-align: center;}
p{font-size:25px;}
li{font-size: 20px;}
.imagemLogo{border: black solid 5px;}
.imagemCurso{border: black solid 5px;}
.divisaoSegunda{padding: 30px;}